@model MVCLibraryWebApplication.Models.Entity.TBL_HAREKET

@{
    ViewBag.Title = "OduncIade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ödünç İade</h2>

@using (Html.BeginForm("OduncGuncelle", "Odunc", FormMethod.Post))
{
    <div class="form-group">
        <label>HAREKET ID</label>
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        <label>KİTAP ADI</label>
        @Html.TextBoxFor(k => k.TBL_KITAP.AD, new { @class = "form-control" })
        <br />
        <label>ÜYE</label>
        @Html.TextBoxFor(k => k.TBL_UYELER.AD, new { @class = "form-control" })
        <br />
        <label>GÖREVLİ</label>
        @Html.TextBoxFor(k => k.TBL_PERSONEL.AD, new { @class = "form-control" })
        <br />
        <label>ALIŞ TARİHİ</label>
        @Html.TextBoxFor(k => k.ALISTARIH, "{0:dd.MMM.yyyy}", new { @class = "form-control" })
        <br />

        <!--Üyenin getirdiği tarih-->
        <label>VERİŞ TARİHİ</label>
        @Html.TextBoxFor(k => k.VERISTARIH, "{0:dd.MMM.yyyy}", new { @class = "form-control" })
        <br />

        <!--Üyenin getirmesi gereken tarih-->
        <label>İADE TARİHİ</label>
        <input type="text" class="form-control" name="UYEIADETARIH" value="@DateTime.Now.AddDays(7).ToShortDateString()" />
        <br />
    </div>

    <div>
        <button class="btn btn-warning">Ödünç Kitabı Geri Al</button>
    </div>
}